.quotesContainer {
  height: 100vh;
  width: 100%+50px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: pointer;
  position: relative;
  margin-left: -50px;
}

.quotesContainer::-webkit-scrollbar {
  display: none;
}

.settingsButton {
  background-color: rgba(107, 136, 117, 0.4);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 12px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #edf2fa;
  position: fixed;
  left: 70px;
  bottom: 50px;
  z-index: 5;
  transition: 0.3s ease;
}
.settingsButton:hover {
  background-color: rgba(123, 107, 136, 0.6);
}

/* start pop-up window */

.popup-content {
  width: 40% !important;
  height: 40% !important;
  background: #edf2fa !important;
  padding: 60px !important;
  border-radius: 12px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
  position: relative !important;
}
.popup-content h2 {
  color: #c2c9d4;
}
.optionGroup {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.option {
  flex: 1;
  padding: 30px 0px;
  background-color: #c5d3df57;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.option:hover {
  background-color: #c5d3df;
}

.option.selected {
  background-color: #719b76;
  color: white;
  box-shadow: 0 0 6px rgba(107, 136, 120, 0.8);
}

hr {
  border: none;
  height: 2px;
  background-color: #c2c9d44c;
}

.popupCloseBotton {
  text-align: center;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: rgb(133, 131, 131);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s ease;
}
.popupCloseBotton:hover {
  color: rgb(94, 94, 94);
}

/* finish pop-up window */
.noQuotes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
