.diary_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px 10%;
    box-sizing: border-box;
}

html[dir="rtl"] .diary_container {
    padding-right: 3%;
}

.display_mood_search {
    display: flex;
    align-items: flex-start;
}

.filter {
    display: flex;
    align-items: center;
    gap: 3%;
    margin: 3% 1%;
}

.diary_type {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    color: #719b76;
    border: none;
}

html[dir="rtl"] .diary_type {
    right: auto;
    left: 5%;
}

.search_container {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 5px;
}



.input_wrapper {
    width: 50%;
}

.search_input:hover {
    cursor: pointer;
}

.search_input {
    padding: 7px 5px;

    margin-top: 5px;
    border: none;
}

.icon {
    color: #747e94;
}

.diarys {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
}

.custom-select {
    position: relative;
    width: 100px;
}

.select-header {
    width: 40%;
    height: 25px;
    background-color: #719b76;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    display: flex;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
}

html[dir="rtl"] .select-header {
    right: auto;
    left: 0;
}

.select-options {
    position: absolute;
    right: -30%;
    width: 100px;
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    z-index: 10;
}

html[dir="rtl"] .select-options {
    right: auto;
    left: -30%;
}

.select-options li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.select-options li:hover {
    background-color: #f1f1f1;
}

.clear {
    color: #719b76;
    cursor: pointer;
}

.arrow {
    font-size: 12px;
}

.check_diary {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
}

.checkbox-label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

html[dir="rtl"] .checkbox-label {
    margin-right: 0;
    margin-left: 15px;
}

.checked_span {
    border: 1px solid #719b76;
    border-radius: 20px;
    padding: 5px 8px;
    background-color: #719b76b6;
    color: white;
}

.unchecked_span {
    border: 1px solid #719b76;
    border-radius: 20px;
    padding: 5px 10px;
}

.search_mood {
    width: 94px;
    background-color: inherit;
    padding: 3px;
    border: none;
    outline: none;
    color: #8e8e8e;
    font-size: 16px;
    margin-top: -2px;
}

.filter_by_tag {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

@media (max-width: 944px) {

    .input_wrapper {
        width: 30%;
    }

    .filter_by_tag {
        width: 70%;
    }

    .diary_type {
        margin: 4% 2%;
    }

    .checkbox-label {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .search_container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin-bottom: 50px;
    }

    .diarys {
        margin-top: 5%;
    }

    .input_wrapper:focus-within {
        width: 300px;
    }
}

@media (max-width: 769px) {
    .filter {
        flex-wrap: wrap;
    }

    .input_wrapper {
        width: 100%;
    }

    .filter_by_tag {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    .select-options {
        position: relative;
        width: auto;
        margin-top: 50%;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 5px 10px;
        border-radius: 8px;
    }

    .checkbox-label {
        font-size: smaller;
    }

    .diary_type {
        margin: 5% 1%;
    }

    .select-header {
        width: 40%;
        height: 25px;
        background-color: #719b76;
        color: white;
        padding: 10px 15px;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
        display: flex;
        font-size: larger;
        font-weight: bolder;
        text-align: center;
        justify-content: center;
    }

    .select-options {
        position: absolute;
        right: -13%;
        width: 100px;
        background-color: white;
        border: 1px solid #c3c3c3;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        list-style: none;
        margin: 5px 0 0;
        padding: 0;
        z-index: 10;
    }

    .search_container {
        margin-bottom: 15px;
    }
}

.theme-icon-btn2 {
    color: #2c352d;
    position: absolute;
    top: 17px;
    right: 79px;
    font-size: 37px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

html[dir="rtl"] .theme-icon-btn2 {
    right: auto;
    left: 12%;
}

.theme-icon-btn2:hover {
    transform: scale(1.2);
    color: #5b775e;
}