@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background: #ffffffdd;
    border-radius: 20px;
    padding: 40px 40px 7px;
    width: 420px;
    box-shadow: 0px 5px 30px 13px rgba(63, 7, 46, 0.3);
    color: #555;
    text-align: center;
    animation: fadeInUp 0.8s ease forwards;
    position: relative;
}

.signup-text {
    margin-top: 28px;
    font-weight: 600;
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.signup-link {
    color: #796FB8;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.signup-link:hover {
    text-decoration: underline;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}