.diary_content {
  gap: 20px;
  overflow: hidden;
  text-decoration: none;
  color: #545f7b;
  width: 95%;
  height: fit-content;
  margin-top: 1%;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  padding: 10px 40px;
  box-shadow: 1px 1px 10px 1px rgba(174, 173, 173, 0.366);
}

.diary_voice_content {
  gap: 20px;
  overflow: hidden;
  text-decoration: none;
  color: #545f7b;
  width: 95%;
  height: fit-content;
  margin-top: 1%;
  border-radius: 15px;
  padding: 10px 40px;
}

.span_note {
  width: 100%;
  color: #545f7b;
}

.del_icon {
  font-size: larger;
}

.del_icon:hover {
  color: red;
}

.diary_notes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary_content:hover {
  cursor: pointer;
}

.diary_tag {
  margin: 5px;
  border: 1px solid #719b76;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #719b76b6;
  color: white;
}

.image_note {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.images {
  background-color: inherit;
  box-shadow: none;
}

.image_note img {
  width: 19.7%;
  height: auto;
  border-radius: 8px;
  margin: 0.1%;
  margin-bottom: 1%;

}

div.container {
  width: 100%;
  margin: 10px 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #545f7b;

}

.container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.container:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.date_div {
  background-color: rgba(156, 156, 156, 0.229);
  width: 13%;
  border: 1px solid rgba(201, 201, 201, 0.27);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1px;
  align-items: center;
}

.header_date_day {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 3%;
  align-items: center;
  margin-left: -20%;
}

.header_mood_type {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: 0;
}

.edit_icon {
  font-size: 20px;
  color: #545f7b;
  margin-left: 5%;
}

.edit_icon:hover {
  color: #719b76;
  cursor: pointer;
}

h1 {
  font-size: 40px;
}



.diary_content,
.edit_icon {
  text-decoration: none;
}

.left_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
}


.state_type {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  height: 50px;
  border-top: 1px solid #545f7b66;
  padding-top: 5px;
  margin-top: 3%;
}

.top_content h1 {
  color: #719b76;
}

.top_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #719b76;
  padding-top: 3%;
}

@media screen and (max-width: 754px) {
  div.container {
    margin-left: 0%;
  }

  .image_note img {
    width: 49%;
    margin-left: 0.9%;
  }

  .title {
    font-size: large;
    margin-left: -5%;
  }

  .date_div {
    padding: 2% 8%;
  }

  .header_date_day {
    width: 100%;
    gap: 5%;
    margin-left: -10%;
  }
}

@media screen and (max-width: 900px) {
  .date_div {
    width: 17%;
  }
}